<ion-view view-title="Helpdesk" style="text-align:center">
  <ion-content>
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                        <a href="#/app/new-ticket"><img src="img/newticket.png" id="Leadreg" /></a>
                        <br />New Ticket
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/track-ticket"><img src="img/tracktickets.png" id="Leadreg" /></a>
                        <br />Track Ticket
                    </div>
                    <div class="col" align="center">
                        <a href="#/app/my-ticket"><img src="img/ticket.png" id="MyOpp" /></a>
                        <br />My Tickets
                    </div>
                </div>
		    </div>
            
             
            <div data-role="main" class="ui-content" style="margin-top:25px; background-color:#fff; color:#f8991d;">
                <div class="row" style="margin-bottom:25px;">
                    <div class="col" align="center">
                      <a href="#/app/manage-ticket"><img src="img/manage-tickets.png" id="" /></a>
                        <br />Manage Tickets
                    </div>
                    <div class="col" align="center">
                        
                    </div>
                    <div class="col" align="center">
                        
                    </div>
                </div>
		    </div>

           

     

          </div>
  </ion-content>
</ion-view>