<ion-view view-title="Project Details" side="Center" class="animate-in-primary" ng-controller="GetParticularProjectID" >
<ion-content class="page" >
  <ion-refresher on-refresh="doRefresh()" ></ion-refresher>

    <div ng-controller="CollapsablePanelActive" class="ctrlclass">
          <ion-list >
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff;"ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Towers 
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" style="padding: 0px 5px !important;">
		 <div ng-if="TowerDetails.length==0" style="text-align:center;color:#f00">No Data Found</div>
				 <div ng-if="TowerDetails.length>0" style="width:100%;overflow-y:scroll;">
	              <table class="table table-bordered" id="Table3" style="margin-bottom: 5px">
                                    <tr style="background-color:#17202A; font-size:8pt; color:white;">
                                        <th style="width:130px;">TN</th>
                                       
                                        <th style="width:65px;">Open For Sale</th>
                                        <th style="width:45px;">%</th>
                                        <th style="width:65px;">No of Units</th>
                                        <th style="width:105px;">Hand Over Date</th>
                                    </tr>
                                    <tr style="font-size:10pt;">
                                     <tr ng-repeat="tower in TowerDetails">
                                        <td style="font-size:8pt;">{{tower.TowerName}}</td>
                                                                      
                                        <td style="font-size:8pt;" ng-if="tower.OpenForSale">YES</td>
										 <td style="font-size:8pt;" ng-if="!tower.OpenForSale">NO</td>
                                        <td style="font-size:8pt;text-align:right;">{{tower.CurrentCompletionPercentage}}</td>
                                        <td style="font-size:8pt;text-align:right;">{{tower.NoOfUnits}}</td>
                                        <td style="font-size:8pt;">{{tower.ProgressEffectiveDate | date:'dd-MMM-yyyy'}}</td>
                                   </tr>
                             </tr>
                       </table>
                  </div>
          </ion-item>
        </div>
      </ion-list>
    </div>

     <div ng-controller="CollapsablePanelActive" class="ctrlclass">
          <ion-list >
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Products 
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" style="padding: 0px 5px !important;">
		  <div ng-if="Productdetails.length==0" style="text-align:center;color:#f00">No Data Found</div>
				 <div ng-if="Productdetails.length>0" style="width:100%;overflow-y:scroll;">
	              <table class="table table-bordered" id="Table3" style="margin-bottom: 5px">
                                    <tr style="background-color:#17202A; font-size:8pt; color:white;">
                                        <th style="width:130px;">Products</th>
                                      <!-- <th style="width:130px;">UDI</th>-->
                                        <th style="width:55px;">CPA</th>
                                        <th style="width:65px;">BUA</th>
                     <th style="width:65px;">PLA</th>
                      <th style="width:155px;">SLA</th>
                      <th style="width:130px;">UDI</th>
										 
                                    </tr>
                                    <tr style="font-size:10pt;">
                                     <tr ng-repeat="c in Productdetails" >
                                        <td style="font-size:8pt;">{{c.SubProductCode}}</td>
                                        <!--<td style="font-size:8pt;text-align:right;">{{c.UDI}}</td>-->
                                        <td style="font-size:8pt;text-align:right;">{{c.CarPetArea}}</td>
                                        <td style="font-size:8pt;text-align:right;">{{c.BuiltUpArea}}</td>
                    <td style="font-size:8pt;text-align:right;">{{c.StandardPlotArea}}</td>
                    <td style="font-size:8pt;text-align:right;">{{c.SaleableArea}}</td>
                    <td style="font-size:8pt;text-align:right;">{{c.UDI}}</td>
									
                                   </tr>
                                    </tr>
                            </table>
                        </div>
          </ion-item>
        </div>
      </ion-list>
    </div>

    <div ng-controller="CollapsablePanelActive" class="ctrlclass">
          <ion-list>
          <div ng-repeat="group in groups">
          <ion-item class="item-stable item-icon-right" style="color:#fff"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" style="font-size:12pt;" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            Price Book
          </ion-item>
         <ion-item  ng-show="isGroupShown(group)" style="padding: 0px 5px !important;">
            <ion-list>
			
		 <div ng-if="Pricebook.length==0" style="text-align:center;color:#f00">No Data Found</div>
				 <div ng-if="Pricebook.length>0" style="width:100%;" >
        <table class="table table-bordered" id="Table3" style="margin-bottom: 5px">
        <tbody>
            <tr class="main-row"  style="background-color:#17202A; font-size:8pt; color:white;">
                <td>Tower</td>
                <td>Product</td>
                <td>Spec</td>
                <td>Sche.</td>
				<td>Valid From</td>
                <td>Valid To</td>
            </tr>
			<tr ng-repeat-start="item in Pricebook" ng-click="showPriceBook(item.PriceBookID)">
				<td style="font-size:8pt;">{{item.TowerName}} </td>
				<td style="font-size:8pt;"> {{item.SubProductCode}}</td>
				<td style="font-size:8pt;background-color:{{item.HeadingColourCode}};color:#fff"> {{item.SpecificationName}}</td>
				<td style="font-size:8pt;"> {{item.SchemaName ==null?'NA':item.SchemaName}}</td>
				<td style="font-size:8pt;"> {{item.FromDate | date :'dd-MMM'}}</td>
				<td style="font-size:8pt;"> {{item.ToDate | date :'dd-MMM'}}</td>
			</tr>
			<tr ng-if="subPriceBookList.elements.length>0 && subPriceBookList.result.PriceBookID==item.PriceBookID">
				<td colspan="5">
					<table class="table table-bordered" id="Table3" style="margin-bottom: 5px">
						<tr class="main-row" style="background-color:#17202A; font-size:8pt; color:white;">
							<td>Price type</td>
							<td>Area Basis</td>
							<td>Rate</td>
							<td>OwnerShip</td>
						</tr>
						<tr ng-repeat-start="subItem in subPriceBookList.elements">
							<td style="font-size:8pt;">{{subItem.PriceElementCode}} </td>
							<td style="font-size:8pt;"> {{subItem.PricingAreaBasis}}</td>
							<td style="font-size:8pt;"> {{subItem.Rate}}</td>
							<td style="font-size:8pt;"> {{subItem.ownerShip}}</td>
						</tr>
						<tr ng-repeat-end></tr>
					</table>
				</td>
			</tr>
			<tr ng-repeat-end></tr>
         </tbody>  
                  
        </table>  
        </div>  
            </ion-list>
          </ion-item>
        </div>
      </ion-list>
    </div>
</ion-content>
</ion-view>
