<ion-view view-title="Portfolio">
<ion-content class="page" ng-controller="PortfolioUnitValueArea">

<div ng-if="value.length==0" style="margin: 5px 0;">No Data Found</div>
        <div ng-if="value.length!=0" style="margin: 5px 0;">
<ul>
<li style="    padding: 0">
   <div ng-repeat="x in value">
  <div class="">
  <div class="portfolio-img" col-center>
  <div class="port-img-bdr" col-center ng-click="NavigateToProjectDetails(x)" ><a  ng-click="NavigateToProjectDetails(x)" ><img src="{{ImageUrl}}/portfolio/{{x.Logo}}"  width= "120" height="120" alt=""></img></a></div>
  </div>
   </div>
 </li>
</ul>
</div>


  </ion-content>
</ion-view>
